.container {
    display: flex;
  }

*
  {
      font-family: Helvetica, Calibri;
      margin: 0em;
      padding: 0em;
      font-size: 100%;
      border-style: none;
      list-style-type: none;
  }

  body{
    width: 375px;
    height: 812px;
  }

  #calendar {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

#calendar .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#calendar .cell {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #ccc;
}

#calendar .available {
    background-color: #9aff9a;
}

#calendar .booked {
    background-color: #ff9a9a;
}
  
  .sidebar {
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    background-color: #CBE3E9;
    opacity: 50%;
    width: 25%;
  }

 .sidebar a{
    text-decoration: none;
    color: #4d1d18;
    font-size: 12px;

 }
  
  .sidebar.active {
    transform: translateX(0);
    color: #555;;
  }
  
  .content {
    width: 75%;
    background-color: #ffffff;
    margin-left: 25%;
    transition: margin-left 0.3s ease-in-out;
  }
  
  .content.active {
    margin-left: 0;
  }
  
  .toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
  }

  